footer{
    background-color: rgb(18, 20, 20);
    margin-bottom: auto;
    margin-top: auto;
}

footer button{
  margin : 10px ;
   color : black
}

footer section{
  margin: 30px 30px 10px 30px;
}