.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 50px auto;
  position: relative;
}

.slider-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.slider-description {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: rgba(0, 0, 0, 0.7); Semi-transparent background */
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
}

.slider-button {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #fff;
}

.slider-button.prev {
  left: 10px;
}

.slider-button.next {
  right: 10px;
}

.slider-button:hover {
  color: #007bff;
}

